h2 Connected devices (#{devices.size})
pre
  = devices.map { |device| %Q(#{device.position} - #{device.index}, #{$redis.get("data_lines:#{device.id}")}) }.join("\n")

hr

- disconnected_devices = Device.enabled.where.not(id: devices.map(&:id)).ordered
h2 Enabled disconnected devices (#{disconnected_devices.size})
pre
  = render_disconnected_devices(disconnected_devices)
