h2 Connected devices (#{devices.size})
pre
  = devices.map { |device| %Q(#{device.number} - #{device.index}, #{$redis.get("data_lines:#{device.id}")}) }.join("\n")

hr

- disconnected_devices = Device.enabled.where.not(id: devices)
h2 Enabled disconnected devices (#{disconnected_devices.size})
pre
  = disconnected_devices.map { |device| %Q(#{device.number} - #{device.index}, #{$redis.get("data_lines:#{device.id}")}) }.join("\n")
