h2 Connected devices (#{devices.size}), enabled disconnected devices: #{Device.enabled.size - devices.size}
pre
  = devices.map { |device| %Q(#{device.number} - #{device.index}, #{$redis.get("data_lines:#{device.id}")}) }.join("\n")
